/*Global Styles*/
* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--base-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --base-color: #5C7373;
    --header-color: #F29F05;
    --first-text: #1D594E;
}
/*End Global Styles*/

/*Header Styles*/
header {
    padding: 20px 35px;
    margin: 0;
    border: 0;
    background-color: var(--header-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    display: inline block;
    font-size: 48px;
    font-weight: bold;
    color: var(--first-text);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--first-text);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: var(--first-text);
    color: var(--header-color);
    border-radius: 15px;
}
/*End Header Styles*/

/*Hero Styles*/
.hero {
    background-image: url("../images/sunset_at_tatooine_4x.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
}
.welcome {
    font-size: 28px;
    float: right;
    margin: 55px 95px 20px 0;
}
/*End Hero Styles*/

/*Main Sections Styles*/
.main-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    margin: 25px 0;
    padding: 10px 0;
    justify-content: space-between;
}

.main-section h2 {
    border-right: 6px solid var(--header-color);
    text-align: right;
    line-height: 1.2;
    font-size: 3vw;
    padding-right: 15px;
    flex: 0 0 20%;
}

.main-section article {
    
}
/*End Main Sections Styles*/

/*Footer Styles*/
footer {
    padding: 25px 20px;
    background-color: var(--header-color);
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--first-text);
    font-size: 30px;
    margin: 0;
}
/*End Footer Styles*/

/*Media Quires*/